<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Post</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        placeholder="Enter username"
        name="username"
        required
      />
      <br /><br />

      <label for="content">Post Content:</label>
      <textarea
        id="content"
        name="content"
        placeholder="Write your post"
        required
      ></textarea>
      <br /><br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
